<form class="form-inline" #entityForm="ngForm" name="entity" (ngSubmit)="save()" novalidate>
  <div class="input-group">
    <input class="form-control input-sm" title="Name" [(ngModel)]="input" name="name" required/>
    <button class="btn btn-primary btn-sm" type="button" [disabled]="input == '' || input == value"
            (click)="apply()">
      <span class="glyphicon glyphicon-ok"> Save</span>
    </button>
  </div>
</form>
