<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #F3FAFB">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="../../../assets/194279.png" style="padding: 5px;"/>
    </div>
    <div class="collapse navbar-collapse" *ngIf="logged">
      <ul class="nav navbar-nav">
        <li><a routerLink="/pets">Pets</a></li>
        <li><a routerLink="/categories">Categories</a></li>
        <li><a routerLink="/tags">Tags</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">{{userName}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Update User Profile</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Change Username</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
