<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" (click)="_onTouched()" [disabled]="disabled">
  {{value}}
  <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li *ngFor="let size of sizes"><a (click)="value = size">{{size}}</a></li>
</ul>
