<div class="panel panel-default">
  <div class="panel-heading">Categories</div>
  <div class="panel-body">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group btn-group-sm" *ngIf="!isNotAllowed()">
        <form class="form-inline" #entityForm="ngForm" name="entity" (ngSubmit)="save()" novalidate>
          <div class="input-group" [class.has-success]="name.valid && name.touched"
               [class.has-error]="name.invalid && name.touched" style="width: 48em">
            <input class="form-control input-sm" title="Name" [(ngModel)]="nameValue" name="name" #name="ngModel"
                   required/>
            <span class="input-group-btn">
                  <button class="btn btn-primary btn-sm" type="submit" [disabled]="!entityForm.valid">
                    <span class="glyphicon glyphicon-ok">&nbsp;Save</span>
                  </button>
                  </span>
          </div>
        </form>
      </div>
      <div class="btn-group btn-group-sm pull-right">
        <app-page-size [(ngModel)]="itemsPerPage" [sizes]="[25,35,45,55,65,75]"></app-page-size>
      </div>
      <div class="btn-group btn-group-sm pull-right">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage"
                    class="pagination-sm" [itemsPerPage]="itemsPerPage" [maxSize]="5" [rotate]="true"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th width="64px">
        <app-sort [title]="'ID'" [column]="'id'" [(ngModel)]="sortBy"></app-sort>
      </th>
      <th>
        <app-sort [title]="'Name'" [column]="'name'" [(ngModel)]="sortBy"></app-sort>
      </th>
      <th width="40px"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>[{{item.id | number: '3.0-0'}}]</td>
      <td>{{item.name}}</td>
      <td>
        <div *ngIf="!isNotAllowed()">
          <a (click)="remove(item)" style="cursor: pointer"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="panel-body">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group btn-group-sm pull-right">
        <app-page-size [(ngModel)]="itemsPerPage" [sizes]="[25,35,45,55,65,75]"></app-page-size>
      </div>
      <div class="btn-group btn-group-sm pull-right">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage"
                    class="pagination-sm" [itemsPerPage]="itemsPerPage" [maxSize]="5" [rotate]="true"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
