<div class="panel panel-default">
  <div class="panel-heading">Pet</div>
  <div class="panel-body">
    <form id="pet-form" class="form-horizontal" #petForm="ngForm" (ngSubmit)="save()">
      <div class="form-group">
        <label class="control-label col-md-2" for="pet.id">ID:</label>
        <div class="col-md-10">
          <input class="form-control" id="pet.id" [value]="pet.id | number: '3.0-0'" readonly
                 name="id">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" for="pet.name">Name:</label>
        <div class="col-md-10" [class.has-success]="name.valid" [class.has-error]="name.invalid">
          <input class="form-control" id="pet.name" placeholder="Please enter pet name." #name="ngModel"
                 [(ngModel)]="pet.name" name="name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2">Status:</label>
        <div class="col-md-10">
          <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group" *ngFor="let status of statuses">
              <button type="button" (click)="pet.status = status"
                      [class]="pet.status != status ?'btn btn-default':'btn btn-primary'">{{status}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" for="pet.category">Category:</label>
        <div class="col-md-10" [class.has-success]="category.valid" [class.has-error]="category.invalid">
          <select id="pet.category" class="form-control" [(ngModel)]="pet.category" name="category" required
                  #category="ngModel" [compareWith]="compare">
            <option *ngFor="let category of availableCategories" [ngValue]="category">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2">Tags:</label>
        <div class="col-md-10">
          <div style="display: inline-block" *ngFor="let selected of pet.tags">
            <a (click)="removeTag(selected)" class="btn btn-info">
              {{selected.name}}&nbsp;&times;
            </a>&nbsp;
          </div>
          <div class="dropdown" style="display: inline-block">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li *ngFor="let tag of availableTags"><a (click)="pet.tags.push(tag)">{{tag.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4" style="text-align: center">
          <button class="btn btn-danger btn-sm" type="reset" (click)="goBack()">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
          </button>
          <button class="btn btn-success btn-sm" type="submit" [disabled]="!petForm.form.valid || notAllowed()">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
