<div>
  <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="alert">
    <button type="button" class="close" aria-label="Close" (click)="remove()"><span aria-hidden="true">&times;</span>
    </button>
    <strong>Error!</strong> {{alert}}
  </div>
</div>
