<div class="panel panel-default">
  <div class="panel-heading">Login</div>
  <div class="panel-body">
    <form id="login-form" class="form-horizontal" #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <label class="control-label col-md-2" for="username">Username:</label>
        <div class="col-md-10" [class.has-success]="username.valid" [class.has-error]="username.invalid">
          <input class="form-control" id="username" placeholder="Please enter username." #username="ngModel"
                 [(ngModel)]="userName" name="username" required autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" for="pwd">Password:</label>
        <div class="col-md-10" [class.has-success]="pwd.valid" [class.has-error]="pwd.invalid">
          <input class="form-control" id="pwd" type="password" #pwd="ngModel"
                 [(ngModel)]="password" name="pwd" required autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4" style="text-align: center">
          <button class="btn btn-success btn-sm" type="submit" [disabled]="!loginForm.form.valid">
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
