<a (click)="sort()" style="cursor: pointer">{{title}}&nbsp;
  <span class="glyphicon"
        [class.glyphicon-sort]="unsorted()"
        [class.glyphicon-sort-by-alphabet]="asc()"
        [class.glyphicon-sort-by-alphabet-alt]="desc()"></span></a>
