body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding-top: 60px;
  padding-bottom: 60px
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #E7E7E7;
}

select.ng-valid[required], select.ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

select.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.pagination {
  margin: 0;
}
