<div class="panel panel-default">
  <div class="panel-heading">Pets</div>
  <div class="panel-body">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group btn-group-sm">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-primary" [routerLink]="['/pets', 0]">Add Pet</a>
        </div>
      </div>
      <div class="btn-group btn-group-sm pull-right">
        <app-page-size [(ngModel)]="itemsPerPage" [sizes]="[25,35,45,55,65,75]"></app-page-size>
      </div>
      <div class="btn-group btn-group-sm pull-right">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage"
                    class="pagination-sm" [itemsPerPage]="itemsPerPage" [maxSize]="5" [rotate]="true"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th width="64px">
        <app-sort [title]="'ID'" [column]="'id'" [(ngModel)]="sortBy"></app-sort>
      </th>
      <th>
        <app-sort [title]="'Name'" [column]="'name'" [(ngModel)]="sortBy"></app-sort>
      </th>
      <th>
        <app-sort [title]="'Category'" [column]="'category.name'" [(ngModel)]="sortBy"></app-sort>
      </th>
      <th>
        Tags
      </th>
      <th>
        <app-sort [title]="'Status'" [column]="'status'" [(ngModel)]="sortBy"></app-sort>
      </th>
      <th width="40px"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>[{{item.id | number: '3.0-0'}}]</td>
      <td>{{item.name}}</td>
      <td>{{item.category?.name}}</td>
      <td>{{item.tags | namedList}}</td>
      <td>{{item.status}}</td>
      <td>
        <a style="cursor: pointer" [routerLink]="['/pets', item.id]"><span
          class="glyphicon glyphicon-edit"></span></a>
        <a (click)="remove(item)" style="cursor: pointer"><span class="glyphicon glyphicon-trash"></span></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="panel-body">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group btn-group-sm pull-right">
        <app-page-size [(ngModel)]="itemsPerPage" [sizes]="[25,35,45,55,65,75]"></app-page-size>
      </div>
      <div class="btn-group btn-group-sm pull-right">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage"
                    class="pagination-sm" [itemsPerPage]="itemsPerPage" [maxSize]="5" [rotate]="true"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
