<app-menu></app-menu>
<div class="container-fluid">
  <div class="row" style="margin: 20px 0">
    <div class="col-md-10 col-md-offset-1">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #F3FAFB">
</nav>
